<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page of 1+2</h1>
    <h3> <%= 1+2 %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Facilis consectetur fuga porro voluptatum, iure explicabo 
         suscipit quasi eveniet cumque numquam quia, molestiae error 
         quidem atque? Explicabo consectetur iusto maxime saepe.
    </p>
    <button>click me!</button>
</body>
</html>